<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">Volver</ion-back-button>
    </ion-buttons>
    <ion-title> Recuperar cuenta </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex-center">
    <!--EVENTO NGSUBMIT PARA LLAMAR LA FUNCIÓN Y ENVIAR EL FORMULARIO-->
    <form
      [formGroup]="form"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >
      <!--evento keypress.enter para realizar el envío apretando tecla enter-->

      <!--SE IMPORTA COMPONENTE LOGO-->
      <app-logo></app-logo>

      <!--INPUT DEL CORREO-->
      <app-input-custom
        icon="mail-outline"
        autocomplete="email"
        [control]="form.controls.email"
        type="email"
        label="correo"
      ></app-input-custom>

      <!--VALIDADORES DEL CORREO SOLO SE MOSTRARÁ SI EL EMAIL TIENE ERRORES Y SI ES TOCADO DE ESTA MANERA MOSTRARÁ LOS ERRORES -->
      <div
        class="validators"
        *ngIf="form.controls.email.errors && form.controls.email.touched"
      >
        <!--ERRORES-->
        <div *ngIf="form.controls.email.errors?.['required']">
          Correo obligatorio
        </div>
        <div *ngIf="form.controls.email.errors?.['email']">Correo invalido</div>
      </div>

      <ion-button
        expand="block"
        mode="ios"
        class="submit"
        type="submit"
        [disabled]="form.invalid"
      >
        <!--Estará desactivado si el form tiene errores o campos vacíos-->
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
